main{
    .events{    
        img{
            width: 2%;
        }
        .attendees-list{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}