body{
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        background: none;
        width: 5%;
        height: 6vh;
        border: none;
        img{
            width: 116%;
            // margin: 2vw;
        }
    }
}